@font-face {
  font-family: 'HooskaiChamferedSquare';
  /* font-style: normal;
  font-weight: 400; */
  src: url('/font/HooskaiChamferedSquare.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  /* font-style: normal;
  font-weight: 400; */
  src: url('/font/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  /* font-style: normal;
  font-weight: 400; */
  src: url('/font/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  /* font-style: normal;
  font-weight: 400; */
  src: url('/font/Poppins-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

:root {
  /* --text-color: #ffffff;
  --background-color: #22272e;
  --background-color-oc: #22272e67;
  --icon-color: #a6a6a6;
  --theme-color: #40aeb8;
  --border-radius: 100px;
  --border-width: 4px;
  --border-color: #f5f5f5; */
  --text-color: #474440;
  --background-color: #ffffff;
  --background-color-oc: #ffffff67;
  --theme-color: #4664b0;
  --theme-color-oc: #4664b067;
  --border-radius: 10px;
  --border-width: 2px;
  --border-color: #f5f5f5;

}

html,
body {
  font-family: 'Poppins Regular';
  box-sizing: border-box;
  min-width: 320px;
  color: var(--text-color);
  background-color: var(--background-color);
}

#app {
  min-height: 100vh;
  width: 100%;
}